<div class="container col-lg-1">
<img class="img-fluid" src="/styles/images/singleRoll.PNG" alt="roll" id="roll">
</div>

<div class="container col-lg-4 userPage">
      <div class="container container-fluid blankBox" id="aboutUs">
        <h5><b>How to use the Time to Go app</b></h5>
          <p>
                Time to Go is the quickest, simplest way of finding a decent public washroom around your location when nature calls. 
                Simply open the app and it will display the nearest toilets, as well as their ratings to you. </p>
                  <p>- Find which WC's has the hightest rating around your area!</p>
                  <p>- Add a washroom to increase our list and improve the app for everyone!</p>
                  <p>- Rate your experience by clicking on the stars!</p>          
      </div>

<div class="container btnContainer" >
   <a href="/"><button type="button" class="btn btn-default"> < Back to Main Page</button></a> 
</div>    

<span>
<img class="img-fluid" src="/styles/images/logo.PNG" alt="logo" id="logoSub">
</span>
<span>
<img class="img-fluid" src="/styles/images/rolls.PNG" alt="logo" id="rollSub">
</span>
