<img src="/styles/images/singleRoll.PNG" alt="roll" id="rollLogo">


<div class="container col-lg-4 about">
      <div class="container container-fluid blankBox" id="aboutUs">
        <h5><b>How to use the Time to Go app</b></h5>
          <p>
                Time to Go is the quickest, simplest way of finding an amazing public washroom near you when nature calls. 
                The app's map shows the public toilets closest to you that have been submitted and reviewed by other users.
                Green means good to go. Red means proceed with caution. And, if you need to know all the details, touch each map 
                point for a full review. Have a throne you love to worship? Please add it. We're all in this together!</p>        
      </div>

<div class="container btnContainer" >
   <a href="/"><button type="button" class="btn btn-default" id="back"> < Back to Main Page</button></a> 
</div>    

<span>
<img class="img-fluid" src="/styles/images/logo.PNG" alt="logo" id="logoSub2">
</span>
<span>
<img class="img-fluid" src="/styles/images/rolls.PNG" alt="logo" id="rollSub">
</span>


