<div class="container col-lg-1">
<img class="img-fluid" src="/styles/images/singleRoll.PNG" alt="roll" id="roll">
</div>

<div class="container col-lg-4 userPage">
      <div class="container container-fluid" id="termsConditions">
        <b>How to use the Where to Go app</b>
          <p>
                We created the Where to Go app so when nature calls you can do a quick search to see where the best place is for you. Our app relies on Ratings from the public.
                The more people that rate the more Washrooms the better it will get. To Rate a Washroom we simnple ask you register a username and password and log in. Once logged 
                in you are free to contine to review as many washrooms as you like.
          </p>
      </div>

<span>
<img class="img-fluid" src="/styles/images/logo.PNG" alt="logo" id="logoSub">
</span>
<span>
<img class="img-fluid" src="/styles/images/rolls.PNG" alt="logo" id="rollSub">
</span>
