<div class="col-md-12 add-washroom">
  <h2>{{add}}</h2>
  <form class="create-form" method="POST" action="washroom/insertOne">
    <div class="form-group">
      <input type="text" id="address" name="name">
    </div>
    {{!-- comment box
    rating div --}}
    <button type="submit" class="btn btn-default">{{add}}/button>
  </form>
</div>
