<h2>{{add}}</h2>
    <div class="container container-fluid " id="profile">
        <img id="profilePic" src="images/rolls.PNG" class="img-fluid">
        <p id="profileName">Hello Debra</p>
    </div>
    <div class="container col-lg-4 addWC">
        {{!-- <form action="upload.php" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
        </form> --}}
        <form class="form">
                <input type="location" id="inputLocation" class="form-control userinput" placeholder="Location" required autofocus>
            <label for="inputRating" class="formTitle">Rating</label>
                <select class="form-control" id="inputRating" placeholder="Rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <br><br>
          <!-- <label>
                <input type="checkbox" value="clean" name="rate"> Clean</label>
            <label>
                <input type="checkbox" value="ventellation" name="rate"> Ventellation</label>
            <label>
                <input type="checkbox" value="handDryer" name="rate"> Hand Dryer</label>
            <label>
                <input type="checkbox" value="multiStall" name="rate"> Multi Stall</label>
            <label>
                <input type="checkbox" value="wideCounter" name="rate"> Wide Counter</label>
            <label>
                <input type="checkbox" value="brightLighting" name="rate"> Bright Lighting</label> -->
        </form>       
      </div> 
    <br><br>
      <div class="container btnContainer" >
          <a href="addWC.html"><button class="btn btn-default" type="submit" id="userpageSubmit">Submit</button></a>
      </div>
    {{!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> --}}
  
