<h2>{{add}}</h2>

<div class="container col-lg-1">
<img class="img-fluid" src="/styles/images/singleRoll.PNG" alt="roll" id="roll">
</div>

<div class="container col-lg-4 addWC">
    <label for="inputRating" class="formTitle">Add a Washroom</label>

        <form class="form">
            <input type="location" id="inputLocation" class="form-control userinput" placeholder="Location" required autofocus>
                <label for="inputRating" class="formTitle">Rating</label>
                <select class="form-control" id="inputRating" placeholder="Rating">
{{!-- rating nesting and if esle etc and other handlebars will be needed here to communicate with SQL will add later. --}}
                    <option id="10">5 stars</option>
                    <option id="9">4.5 stars</option>
                    <option id="8">4 stars</option>
                    <option id="7">3.5 stars</option>
                    <option id="6">3 stars</option>
                    <option id="5">2.5 stars</option>
                    <option id="4">2 stars</option>
                    <option id="3">1.5 stars</option>
                    <option id="2">1 star</option>
                    <option id="1">0 stars</option>
                </select>
                    <br><br>

    </form>   
    <br><br>
    <div class="container btnContainer" >
        <a href="addWC.html"><button class="btn btn-default" type="submit" id="userpageSubmit">Submit</button></a>
    </div>    
</div> 
<br>

<span>
<img class="img-fluid" src="/styles/images/logo.PNG" alt="logo" id="logoSub">
</span>
<span>
<img class="img-fluid" src="/styles/images/rolls.PNG" alt="logo" id="rollSub">
</span>

  
