<!-- Top bar Button-->
  <div id="content">

<!-- Hamburger Button-->
  <nav class="navbar navbar-expand-lg justify-content-between">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn ">
          <i class="fas fa-bars"></i>
        </button>       
    </div>
  </nav>
</div>

<!-- Search Parameters-->
<div class=" container input-container justify-content-between col-sm-12" id="searchParameters">
  <form class="form-inline">
    <button type="submit" id="search" class="btn"><i class="fas fa-search"></i></button>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 
<!-- Triggers the filter modal-->
    <button type="button" class="btn" data-toggle="modal" data-target="#locationFilter" id="filter"><i class="fas fa-filter"></i></button>

<!-- Triggers the WC Address modal-->
    <button type="button" class="btn" data-toggle="modal" data-target="#wcLocation" id="wcAdress"><i class="fas fa-compass"></i></button>
  </form>
</div>

<!-- wrap contents in bootstrap wrapper class so contents inside will expand as viewport expands/shrinks -->
  <div class="wrapper">
            
<!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
        <img class="img-fluid" src="/styles/images/logo.PNG" alt="logoName" id="logoName">
    </div>
        <ul class="list-unstyled components">
          <li>
          <a href="/about"><button type="button" class="btn btn-default">How it works</button></a> 
          </li>
          <li>
          <a href="/newuser"><button type="button" class="btn btn-default">Register</button></a> 
          {{!-- Logic needs to be added to show the Add page one Register and log in are completed --}}
          </li>
          <li>
          <a href="/login"><button type="button" class="btn btn-default">Log in</button></a> 
          {{!-- Logic needs to be added to show the Add page one Register and log in are completed --}}
          </li>
        </ul>
  </nav>
        
<!-- Page Content -->
  <div id="content" class=" container container-fluid card-body col-sm-12" >
    <div id="map"></div>
    </div>
  </div>  
        
<!--Filter modal-->
  <div class="container">
                
<!-- Modal -->
  <div class="modal fade" id="locationFilter" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter by rating of stars</h4>
        </div>
            <div class="modal-body">           
                <fieldset class="rating">
                    <input type="radio" id="10" name="rating" value="10" /><label class = "full" for="10" title="5 stars"></label>
                    <input type="radio" id="9" name="rating" value="9" /><label class="half" for="9" title="4.5 stars"></label>
                    <input type="radio" id="8" name="rating" value="8" /><label class = "full" for="8" title="4 stars"></label>
                    <input type="radio" id="7" name="rating" value="7" /><label class="half" for="7" title="3.5 stars"></label>
                    <input type="radio" id="6" name="rating" value="6" /><label class = "full" for="6" title="3 stars"></label>
                    <input type="radio" id="5" name="rating" value="5" /><label class="half" for="5" title="2.5 stars"></label>
                    <input type="radio" id="4" name="rating" value="4" /><label class = "full" for="4" title="2 stars"></label>
                    <input type="radio" id="3" name="rating" value="3" /><label class="half" for="3" title="1.5 stars"></label>
                    <input type="radio" id="2" name="rating" value="2" /><label class = "full" for="2" title="1 star"></label>
                    <input type="radio" id="1" name="rating" value="1" /><label class="half" for="1" title="0.5 stars"></label>
                </fieldset>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- WC Address Modal -->
  <div class="container">

<!-- Modal -->
    <div class="modal fade" id="wcLocation" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Washroom Location</h4>
          </div>
            <div class="modal-body">
              {{this.address}}
            <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
  </div>
</div>

  <script src="/js/bathroomMap.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdqgem0RZ431c7E7bQ3sMci0LDJX_5_5Q&callback=initMap">
  </script>