<div class="container col-lg-4 userPage">
      <form class="form-signin">
        <h2 class="form-signin-heading signInHeading">LOG IN</h2>
        <label for="inputUserName" class="sr-only">User Name</label>
        <input type="userName" id="inputUserName" class="form-control userinput" placeholder="User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control userinput" placeholder="Password" required>
        
      </form>
    </div> 
  </div> 
      <div class="container btnContainer" >
        {{!-- {{#if user}}
        {{!-- {{#unless user}} --}}
          <a href="/add"><button class="btn btn-default" type="submit" id="userpageSubmit">Submit</button></a>
</div>
 


