/*==================================================================================================================================================================
    SASS functions & variables
====================================================================================================================================================================*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*==================================================================================================================================================================
    Repeat styling used throughout all pages
====================================================================================================================================================================*/
html {
  overflow: auto;
}

body {
  background-color: #474646;
}

footer {
  position: fixed;
  left: 30%;
  bottom: 0px;
  color: white;
  font-size: 10px;
  width: 100%;
  margin-top: 20px;
  z-index: -1;
}

@media (max-width: 414px) {
  footer {
    font-size: 5px;
    left: 20%;
  }
}

.btn-default {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 30px;
  color: #D3D0D0;
  padding: 15px;
  line-height: 15px;
  border: 2px solid white;
  border-radius: 40px;
  background: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 10px;
}

@media (max-width: 414px) {
  .btn-default {
    font-size: 18px;
    width: 150px;
  }
}

.btn-default:hover {
  color: #474646;
  background: white;
  border: 2px solid white;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  font-size: 30px;
}

@media (max-width: 414px) {
  .btn {
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  #back {
    font-size: 12px;
  }
}

#logoSub {
  width: 250px;
  height: 200px;
  top: -100px;
  left: 0px;
  padding: 40px;
  background-color: #474646;
}

#logoSub2 {
  position: fixed;
  width: 200px;
  height: 100px;
  bottom: 0px;
  left: 20px;
}

@media (max-width: 414px) {
  #logoSub2 {
    visibility: hidden;
  }
}

#logoSub3 {
  visibility: hidden;
  position: fixed;
  z-index: -1;
}

@media (max-width: 768px) {
  #logoSub3 {
    visibility: visible;
    top: 0px;
    margin: 10px;
    left: 70%;
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 414px) {
  #logoSub3 {
    visibility: visible;
    width: 100px;
    height: 50px;
    top: 0px;
    margin: 10px;
    left: 60%;
  }
}

#rollSub {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 20px;
}

@media (max-width: 414px) {
  #rollSub {
    visibility: hidden;
  }
}

#rollLogo {
  position: fixed;
  top: 10px;
  left: 45%;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

@media (max-width: 414px) {
  #rollLogo {
    margin: 10px;
    left: 38%;
    width: 80px;
    height: 80px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 40px;
}

.blankBox {
  height: 350px;
  border-radius: 40px;
  background-color: white;
  color: #474646;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .blankBox {
    padding: 5px;
  }
}

@media (max-width: 414px) {
  .blankBox {
    padding: 5px;
    font-size: 12px;
  }
  .blankBox h5 {
    font-size: 15px;
  }
}

#comment {
  height: 300px;
  border-radius: 40px;
  background-color: white;
  color: #474646;
}

/*==================================================================================================================================================================
    INDEX page
====================================================================================================================================================================*/
#content {
  border-radius: 40px;
  margin-right: 0px;
}

#content #map {
  top: 10%;
  height: 700px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  #content #map {
    top: 15%;
    height: 700px;
  }
}

@media (max-width: 414px) {
  #content #map {
    top: 18%;
    height: 500px;
  }
}

.navbar {
  background-color: transparent;
}

#searchBox {
  margin-left: 3em;
}

.modal-body {
  background-color: #474646;
}

#searchParameters {
  z-index: 2;
  left: 40%;
  position: fixed;
  text-align: center;
  top: 10px;
  background: transparent;
  padding: 5px;
  margin: 5px;
  width: 300px;
}

@media (max-width: 768px) {
  #searchParameters {
    left: 0%;
    top: 70px;
  }
}

@media (max-width: 414px) {
  #searchParameters {
    left: 0%;
    top: 70px;
  }
}

#searchParameters form {
  border: 2px solid #D3D0D0;
  border-radius: 40px;
  width: 380px;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #searchParameters form {
    font-size: 15px;
    width: 360px;
  }
}

@media (max-width: 414px) {
  #searchParameters form {
    font-size: 8px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  #searchParameters .form-control {
    width: 180px;
  }
}

@media (max-width: 414px) {
  #searchParameters .form-control {
    width: 180px;
  }
}

#sidebarCollapse {
  visibility: hidden;
}

@media (max-width: 768px) {
  #sidebarCollapse {
    visibility: visible;
  }
}

@media (max-width: 414px) {
  #sidebarCollapse {
    visibility: visible;
  }
}

#sidebarCollapse a[data-toggle="collapse"] {
  position: relative;
}

#sidebarCollapse .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#sidebar {
  z-index: 2;
  position: relative;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  background-color: #474646;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
}

@media (max-width: 414px) {
  #sidebar {
    margin-left: -250px;
  }
}

#sidebar.active {
  margin-left: -250px;
}

@media (max-width: 768px) {
  #sidebar.active {
    margin-left: 0;
  }
}

@media (max-width: 414px) {
  #sidebar.active {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #firstHeading {
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  #firstHeading {
    font-size: 18px;
  }
}

.miniBox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 18px;
}

@media (max-width: 768px) {
  .miniBox {
    font-size: 15px;
  }
  .miniBox .ministars {
    height: 30px;
    width: 154px;
  }
}

@media (max-width: 414px) {
  .miniBox {
    font-size: 15px;
  }
  .miniBox .ministars {
    height: 30px;
    width: 154px;
  }
}

/*==================================================================================================================================================================
    Star rating widget
====================================================================================================================================================================*/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: white;
}

/*==================================================================================================================================================================
    Add a Rating 
====================================================================================================================================================================*/
.addWC {
  margin: 20px;
  margin-left: 33%;
  text-align: center;
}

@media (max-width: 768px) {
  .addWC {
    margin: 10px;
  }
}

@media (max-width: 414px) {
  .addWC {
    margin: 10px;
  }
}

.addWC .formTitle {
  margin-top: 30%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  width: 380px;
  font-size: 30px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .addWC .formTitle {
    font-size: 26px;
    width: 280px;
  }
}

@media (max-width: 414px) {
  .addWC .formTitle {
    font-size: 28px;
    width: 280px;
  }
}

.addWC .userinput, .addWC #inputRating {
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnContainer {
  text-align: center;
}

/*==================================================================================================================================================================
    About Us
====================================================================================================================================================================*/
@media (max-width: 768px) {
  .about {
    margin-top: 30%;
  }
}

@media (max-width: 414px) {
  .about {
    margin-top: 40%;
  }
}

#aboutUs {
  margin-top: 40%;
}
/*# sourceMappingURL=main.css.map */