/*==================================================================================================================================================================
    SASS functions & variables
====================================================================================================================================================================*/
$colors:(
    primary: #474646,
    secondary: #D3D0D0,
    accent:white, 
    );
@function color($color-name){
    @return map-get($colors,$color-name)
};

$border-radius:40px;
/*media queries for various view port sizes*/
$desktop:840px;
$mobile:380px;
@mixin desktop{
    @media(min-width: #{$desktop}) {
        @content;
    }
}
@mixin mobile{
    @media(max-width: #{$mobile}) {
        @content;
    }
}
/*==================================================================================================================================================================
    Uniform styling for pages
====================================================================================================================================================================*/
html{
    overflow:auto;
}
body{
    background-color: color(primary);
    overflow:auto;
}
/*btn links & submit btns*/
.btn {
    margin-left: 10px;
    margin-right: 10px;
}
.btn-default {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: color(secondary);
    padding: 15px;
 
    line-height: 15px;
    border: 2px solid color(accent);
    border-radius: 40px;
    background: color(accent);
    transition: all 0.3s ease 0s;
    margin: 30px;

    @include mobile{
        font-size: 18px;
        width: 150px;
    }
 }
 .btn-default:hover {
    color: color(primary);
    background: color(accent);
    border: 2px solid color(accent);
}

/*Time to GO logo*/
#logoName{
    width: 250px;
    height: 150px;
    padding-left:20px;

}
/*the 3 toilet rolls image & logo*/
#logoSub{
    position:fixed;
    width: 200px;
    height: 100px;
    bottom:0px;
    left: 20px;
}
#rollSub{
    position:fixed;
    width: 100px;
    height: 100px;
    bottom:0px;
    right: 20px;
}
/*wrapps whole page*/
.wrapper {
    display: flex;
    align-items: stretch;
    border-radius: $border-radius;
}

/*==================================================================================================================================================================
    INDEX page
====================================================================================================================================================================*/

#map{
    height: 700px;
    
}
.navbar{
    background-color:color(primary);
}
.btn{
    background-color:transparent;
    border-color:transparent;
    font-size: 30px;
}
/*bar contains search form, filter button & address display button*/
#searchParameters{
    z-index:2;
    left: 40%;
    position:fixed;
    text-align: center;
    top: 10px;
    background:transparent;
    padding:5px;
    margin:5px;

    @include mobile{
        float:left;
    }

    form{
        border:2px solid color(secondary);
        border-radius: 40px;
        width: 500px;
    }
}

/*Hamburger menu is only visable on mobile ports*/
/*toggling of side-bar (contains links to logIn/Register page)*/
#sidebarCollapse{
    visibility: hidden;
    
    @include mobile{
        visibility: visible;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: color(primary);

    @include mobile{
        margin-left: -250px;
    }
}
#sidebar.active {
    margin-left: -250px;

    @include mobile{
        margin-left: 0;
    }
}

/*Google Map display*/
#content, #userLocationMap{
    border-radius: 40px;
    margin-right: 80px;
    margin-top: 0px;

    @include mobile{
        float:left;
    }
}
/*==================================================================================================================================================================
    Userpage Styling
====================================================================================================================================================================*/
.userPage{
    margin:20px;
    margin-left: 33%;
    text-align:center;
    .signInHeading{
        text-align: center;
        color:color(accent);
        font-family:'Times New Roman', Times, serif;
    }
    .userinput{
        border-radius: $border-radius;
        margin-top:20px;
        margin-bottom:20px;
    }
    #termsConditions{
        overflow:scroll;
        height: 300px;
        border-radius: $border-radius;
        background-color: color(accent);
        color:color(primary);
    }
    .checkbox{
        margin-top:20px;
        color:color(accent);
    }
}
.btnContainer{
    text-align:center;
}

/*==================================================================================================================================================================
    Add WC Styling
====================================================================================================================================================================*/
// #profile{

//     padding:20px;

//     #profilePic{
//         border-radius: 100px;
//         height: 200px;
//         width:200px;
//         border:2px solid color(accent);
//     }

//     #profileName {
//         margin-top:20px;
//         padding-left: 60px;
//         color: color(accent);
//         font-family:'Times New Roman', Times, serif;
//     }

// }

.addWC{
    margin:20px;
    margin-left: 33%;

    #uploadWcPic{
        background-color:color(accent);
    }
    .formTitle{
        text-align: center;
        color:color(accent);
        font-family:'Times New Roman', Times, serif;
        font-size: 30px;
    }
    .userinput, #inputRating{
        border-radius: $border-radius;
        margin-top:20px;
        margin-bottom:20px;
    }
    .checkbox{
        margin:20px;
        padding:10px;
        color:color(accent);
    }
}

.btnContainer{
    text-align:center;
}